In [54]:
import pandas as pd

In [55]:
world_data = pd.read_csv("../data/world_bank/combined_world_data.csv")
# eurovision_data = pd.read_csv("../data/eurovision/cleansed_eurovision_data.csv")
eurovision_data = pd.read_csv("../data/eurovision/eurovision_not_exploded_data.csv")

In [56]:
world_data.sample(10)

,index,Country Name,Country Code,Year,Access to clean fuels and technologies for cooking (% of population),"Access to clean fuels and technologies for cooking, rural (% of rural population)","Access to clean fuels and technologies for cooking, urban (% of urban population)",Access to electricity (% of population),"Access to electricity, rural (% of rural population)","Access to electricity, urban (% of urban population)",...,"People with basic handwashing facilities including soap and water, urban (% of urban population)","Risk premium on lending (lending rate minus treasury bill rate, %)","Incidence of malaria (per 1,000 population at risk)","Net financial flows, RDB concessional (NFL, current US$)",Financial intermediary services indirectly Measured (FISIM) (constant LCU),"Net financial flows, IMF concessional (NFL, current US$)",Newborns protected against tetanus (%),"Net official flows from UN agencies, UNWTO (current US$)",Children with fever receiving antimalarial drugs (% of children under age 5 with fever),Use of insecticide-treated bed nets (% of under-5 population)
870,48,Latvia,LVA,2008,100.0,100.0,100.0,99.7,99.9,99.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1034,18,Ireland,IRL,1978,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1505,60,Italy,ITA,2020,100.0,100.0,100.0,100.0,100.0,100.0,...,NaN,2.533167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388,42,Georgia,GEO,2002,48.8,11.0,86.6,99.9,99.8,100.0,...,NaN,NaN,11.671715,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1321,51,Slovenia,SVN,2011,100.0,100.0,100.0,100.0,100.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292,19,France,FRA,1979,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1828,34,Armenia,ARM,1994,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1409,54,Bulgaria,BGR,2014,NaN,NaN,NaN,95.9,90.7,97.8,...,NaN,7.048458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
537,56,Netherlands,NLD,2016,100.0,100.0,100.0,100.0,100.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1135,39,Lithuania,LTU,1999,NaN,NaN,NaN,100.0,100.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
eurovision_data.sample(10)

,Unnamed: 0,Song,Artist,Country,Year,Language,Grand Final Place,Grand Final Points,Semifinal,Semifinal Place,Semifinal Points
1004,1017,Alvedansen,Christine Guldbrandsen,Norway,2006,['Norwegian'],14.0,36.0,NaN,NaN,NaN
359,372,Happy Man,Cathal Dunne,Ireland,1979,['English'],5.0,80.0,NaN,NaN,NaN
341,354,Questo amore,Ricchi e Poveri,Italy,1978,['Italian'],12.0,53.0,NaN,NaN,NaN
1224,1237,I Can,Blue,United Kingdom,2011,['English'],11.0,100.0,NaN,NaN,NaN
1165,1178,Run Away,SunStroke Project and Olia Tira,Moldova,2010,['English'],22.0,27.0,1.0,10.0,52.0
1535,1548,Stay,Anna Odobescu,Moldova,2019,['English'],NaN,NaN,2.0,12.0,85.0
739,752,Keelatud maa,Maarja-Liis Ilus,Estonia,1997,['Estonian'],8.0,82.0,NaN,NaN,NaN
672,685,Kinek mondjam el vétkeimet?,Friderika Bayer,Hungary,1994,['Hungarian'],4.0,122.0,NaN,NaN,NaN
1623,1677,In corpore sano,Konstrakta,Serbia,2022,"['Serbian', 'Latin']",5.0,312.0,2.0,3.0,237.0
535,548,Þú og þeir (Sókrates),Beathoven,Iceland,1988,['Icelandic'],16.0,20.0,NaN,NaN,NaN

In [58]:
eurovision_countries = eurovision_data["Country"].unique()
world_countries = world_data["Country Name"].unique()

In [59]:
for country in eurovision_countries:
    if country not in world_data["Country Name"].unique():
        print(country)

Monaco
Yugoslavia
Turkey
Russia
Slovakia
Serbia and Montenegro
Czech Republic

In [60]:
for country in world_countries:
    if country not in eurovision_countries:
        print(country)

Russian Federation
Slovak Republic
Czechia
Turkiye

In [61]:
eurovision_data["Country"].replace({"Czech Republic": "Czechia", "Russia": "Russian Federation", "Slovakia": "Slovak Republic", "Turkey": "Turkiye"}, inplace=True)

/var/folders/kl/zs51p_z135905dzchw5f3n480000gp/T/ipykernel_76664/796732920.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  eurovision_data["Country"].replace({"Czech Republic": "Czechia", "Russia": "Russian Federation", "Slovakia": "Slovak Republic", "Turkey": "Turkiye"}, inplace=True)

In [62]:
eurovision_data.rename(columns={"Country": "Country Name"}, inplace=True)

In [63]:
merged_df = pd.merge(eurovision_data, world_data, on=['Country Name', 'Year'], how='inner').reset_index()

In [64]:
first_cols = ['Country Name', 'Country Code', 'Year', "Song", "Artist", "Language", "Grand Final Place", "Grand Final Points", "Semifinal", "Semifinal Place", "Semifinal Points"]
remaining_cols = [col for col in merged_df.columns if col not in first_cols]
new_col_order = first_cols + remaining_cols

In [65]:
merged_df = merged_df[new_col_order]

In [66]:
merged_df.columns[:15]

Index(['Country Name', 'Country Code', 'Year', 'Song', 'Artist', 'Language',
       'Grand Final Place', 'Grand Final Points', 'Semifinal',
       'Semifinal Place', 'Semifinal Points', 'level_0', 'Unnamed: 0', 'index',
       'Access to clean fuels and technologies for cooking (% of population)'],
      dtype='object')

In [67]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1406 entries, 0 to 1405
Columns: 1499 entries, Country Name to Use of insecticide-treated bed nets (% of under-5 population)
dtypes: float64(1490), int64(4), object(5)
memory usage: 16.1+ MB

In [69]:
merged_df.to_csv("../data/combined_data.csv", index=False)